<div class="row section-row">
	<div class="col-md-4" ng-controller="smallModalCtrl">
		<p>(modal and modalInstance through controller) small modal: callback --> say Hello</p>
		<button type="button" class="btn btn-info" ng-click="openSmallModal();">small_Modal_Button</button>
		<p>the Item you choose <span>{{selected}}</span></p>
	</div>
	<div class="col-md-4">
		<p>middle modal: callback --> say window.location</p>
		<button type="button" class="btn btn-warning" modal-middle modal-size="{{modalSizeCollection}}" item-list="modalItems" callback='middleModalSay()'>middle_Modal_Button</button>
		<p>Middle Modal you choose <span>{{midModalItem}}</span></p>
	</div>
	<div class="col-md-4">
		<p>large modal: callback --> say Hello world</p>

	</div>
</div>